WB_API_KEY=              # skazka
WB_API_KEY_MILKY=
WB_API_KEY_TIMELESS=

OZON_CLIENT_ID=          # skazka
OZON_API_KEY=
OZON_CLIENT_ID_TIMELESS=
OZON_API_KEY_TIMELESS=
OZON_CLIENT_ID_MILKY=
OZON_API_KEY_MILKY=

SELSUP_API_TOKEN=        # общий на все кабинеты, кабинет определяется по organizationId в ответе API

DATABASE_URL=            # postgres://user:pass@host:5432/dbname
